@model IEnumerable<Competition_Management.Models.Competition>


@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
            
        background-image: url('images/football_back.jpg');
        background-size: cover;
        
    }
    h1{
        color: white ;
    }

    .full-width-image{
        max-block-size: 100%;
        width: auto;
    }
</style>


</style>

<link href="/css/competition.css" rel="stylesheet" />


<div class="text-center">
    <h1 class="display-4">Competition Management</h1>
</div>

@*<img src="images/slider_img_1.jpg"/>
<img src="images/slider_img_2.jpeg"/>
<img src="images/slider_img_3.jpg"/>*@


<body>
<div class="container">
    <div class="row">
        @foreach (var competition in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card competition-card">
                    @if (competition.Logo != null)
                    {
                            <img src="data:image;base64, @Convert.ToBase64String(competition.Logo)" class="card-img-top competition-logo full-width-image" alt="Logo" />
                    }
                    else{
                            <img src="~/images/no_photo_template.jpg" class="card-img-top competition-logo full-width-image" alt="Logo" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@competition.CompetitionName</h5>
                            <a asp-action="Clasament" asp-controller="Competition" asp-route-id="@competition.Id" class="btn btn-info">Leaderboard</a>
                            <a asp-action="Details" asp-controller="Competition" asp-route-id="@competition.Id" class="btn btn-success">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>





